<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2anywhere homepage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/style.css" rel="stylesheet"> 
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="images/logo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	 data-target="#navbarResponsive">
	 	<span class="navbar-toggler-icon"></span>
	 </button>
	 <div class="collapse navbar-collapse" id="navbarResponsive">
	 	<ul class="navbar-nav ml-auto">
	 		<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
	 		<li class="nav-item"><a class="nav-link" href="#">About</a></li>
	 		<li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>
	 	</ul>
	 </div>
	
</div>
</nav>

<!--- Image Slider -->
<div id="slides" class="carousel-slides" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="images/background.png">
			<div class="carousel-caption">
				<h1 class="display-2">2AnyWhere</h1>
				<h3>Your home is everywhere</h3>
				<button type="button" class="btn btn-outline-light btn-lg">Book Now</button>
				<button type="button" class="btn btn-primary btn-lg">Get Started</button>				
			</div>	
		</div>
		<div class="carousel-item">
			<img src="https://avatars.mds.yandex.net/get-pdb/214908/cf771378-ad9f-49e6-8b32-3ffe6fe8a57b/s1200">	
		</div>
		<div class="carousel-item">
			<img src="images/background.png">	
		</div>
	</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">We stand with #BlackLivesMatter</p>
			
		</div>
	</div>
</div>

<!--- Welcome Section -->


<!--- Three Column Section -->


<!--- Two Column Section -->


<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed"></div>
	</div>
</figure>

<!--- Emoji Section -->

  
<!--- Meet the team -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Preview</h1>
		</div>
		<hr>
	</div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="https://about-planet.ru/images/asia/arxitektura/emirates_palace/emirates-palace.jpg">
				<div class="card-body">
					<h4 class="card-title">Emirates Palace, Abu Dhabi</h4>
					<p class="card-text">Hotel #1 is Hotel #1</p>
					<a href="#" class="btn btn-outline-secondary">Visit Hotel</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="http://www.theultrarichclub.com/wp-content/uploads/2018/06/plaza-new-york-1.jpg">
				<div class="card-body">
					<h4 class="card-title">The Plaza, NY City</h4>
					<p class="card-text">Hotel #2 is Hotel #2</p>
					<a href="#" class="btn btn-outline-secondary">Visit Hotel</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="https://avatars.mds.yandex.net/get-pdb/2854790/f9709555-421c-4928-89bb-ba80254d28a0/s1200">
				<div class="card-body">
					<h4 class="card-title">Burj Al Arab, Dubai</h4>
					<p class="card-text">Hotel #3 is Hotel #3</p>
					<a href="#" class="btn btn-outline-secondary">Visit Hotel</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--- Two Column Section -->


<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Connect</h2>
		</div>
		<div class="col-12 social padding">
			<a href="https://ru.wikipedia.org/wiki/Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
			<a href="https://ru.wikipedia.org/wiki/Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
			<a href="https://ru.wikipedia.org/wiki/Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
			<a href="https://ru.wikipedia.org/wiki/Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
			<a href="https://ru.wikipedia.org/wiki/Telegram" target="_blank"><i class="fab fa-telegram"></i></a>
		</div>
	</div>
</div>

<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-6">
				<img src="images/logo.png">
				<hr class="light">
				<p>+996 552 552 809</p>
				<p>email@gmail.com</p>
				<p>Frunze.st 11</p>
				<p>Karakol, Kyrgyzstan, 720005</p>
			</div>
			<div class="col-md-6">
				<hr class="light">
				<h5>Service Area</h5>
				<hr class="light">
				<p>KG</p>
				<p>KZ</p>
				<p>UZ</p>
				<p>TJ</p>
				<p>RU</p>
			</div>
			<div class="col-12">
				<hr class="light">
				<h5>&copy; abdel.com</h5>
			</div>
		</div>
	</div>
</footer>




</body>
</html>


